*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
   -webkit-tap-highlight-color: transparent;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure {
  margin: 0;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}


img {
  max-width: 100%;
  display: block;
}


:root {
    --blue-500: hsl(217, 19%, 35%);
    --blue-300: hsl(214, 17%, 51%);
    --blue-200: hsl(212, 23%, 69%);
    --blue-100: hsl(210, 46%, 95%);
    --white: hsl(0, 0%, 100%);

    --main-font: "Manrope", sans-serif;
}


body {
    /* display: grid;
    place-items: center;
    height: 100vh; */
    background-color: var(--blue-100);
    font-family: var(--main-font);
    padding: 1rem;
}


.card-grid {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--white);
  filter: drop-shadow(0 0 1rem var(--blue-200));
  /* gap: 2rem; */
  border-radius: 0.75rem;
}


.card-img {
  width: 100%;
}


.card-info {
  padding: 2rem;
}


.card-info h1 {
  color: var(--blue-500);
  font-size: 1rem;
  font-weight: 700;
}


.card-info p {
  color: var(--blue-300);
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.6;
  margin-top: 1rem;
}


.author img {
  width: 17%;
  height: 17%;
  border-radius: 50%;
}


.author {
  margin-top: 2rem;
  border: 2px solid red;
  
  display: flex;
  align-items: center;
  
}


.cn {
  display: flex;
  flex-direction: column;
  align-items: center;
}


.author p {
  font-size: 0.8125rem;
  align-self: start;
}
