*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
   -webkit-tap-highlight-color: transparent;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure {
  margin: 0;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}


img {
  max-width: 100%;
  display: block;
}


:root {
    --blue-500: hsl(217, 19%, 35%);
    --blue-300: hsl(214, 17%, 51%);
    --blue-200: hsl(212, 23%, 69%);
    --blue-100: hsl(210, 46%, 95%);
    --white: hsl(0, 0%, 100%);

    --main-font: "Manrope", sans-serif;
}


body {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: var(--blue-100);
    font-family: var(--main-font);
    padding: 1rem;
}


.card {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--white);
  filter: drop-shadow(0 0 1rem var(--blue-200));
  border-radius: 0.75rem;
  max-width: 28.125rem;
}


.card-img {
  width: 100%;
  border-radius: 0.75rem 0.75rem 0 0;
}


.card-info {
  padding: 2rem 2rem 0.4rem 2rem;
}


.card-info h1 {
  color: var(--blue-500);
  font-size: 0.9rem;
  font-weight: 700;
}


.card-info p {
  color: var(--blue-300);
  font-size: 0.8125rem;
  font-weight: 500;
  line-height: 1.6;
  margin-top: 1rem;
}


.card-author img {
  width: 17%;
  height: 17%;
  border-radius: 50%;
}


.card-author {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem 1rem 2rem;
}


.author-flex {
  display: flex;
  flex-direction: row;
  margin-top: 2rem;
  justify-content: start;
}


.author-info {
  display: flex;
  flex-direction: column;
  margin-left: 1rem;
  justify-content: center;
}


.author-info h4 {
  color: var(--blue-300);
  font-weight: 700;
  font-size: 0.8rem;
}


.author-info p {
  margin-top: 0;
  color: var(--blue-300);
  font-size: 0.8rem;
}


.icon {
  background-color: var(--blue-100);
  padding: 0.9rem;
  border-radius: 50%;
  margin-top: 2rem;
}


.icon img {
  height: 100%;
  width: 100%;
}


ul li {
  list-style: none;
}


.sh {
  position: relative;
  
}


.open-share {
  display: none;
  background-color: var(--blue-200);
  
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  top: 1.25rem;
  border-radius: 0 0 0.75rem 0.75rem;
}