/*font-face {
  font-family: "DM Sans";
  font-weight: 400 500;
  src: url("./assets/fonts/DMSans-VariableFont_opsz,wght.ttf");
}


@font-face {
  font-family: "DM Sans";
  font-weight: 400 500;
  font-style: italic;
  src: url("./assets/fonts/DMSans-Italic-VariableFont_opsz,wght.ttf");
}


*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
  padding: 0;
   -webkit-tap-highlight-color: transparent;
}


h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol,
figure {
  margin: 0;
}


h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}


img {
  max-width: 100%;
  display: block;
}


:root {
  --Purple-100: hsl(254, 88%, 90%);
  --Purple-500: hsl(256, 67%, 59%);
    
  --Yellow-100: hsl(31, 66%, 93%);
  --Yellow-500: hsl(39, 100%, 71%);
  
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 7%);
}
*/



@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


:root {
    --Very-Dark-Grayish-Blue: hsl(217, 19%, 35%);
    --Desaturated-Dark-Blue: hsl(214, 17%, 51%);
    --Grayish-Blue: hsl(212, 23%, 69%);
    --Light-Grayish-Blue: hsl(210, 46%, 95%);

    --Main-font: "Manrope", sans-serif;
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: var(--Grayish-Blue);
    font-family: var(--Main-font);
}


main {
    grid-template-rows: 1fr 1fr auto;
    max-width: 600px;
    background-color: var(--Light-Grayish-Blue);
    border-radius: 12px;
    overflow: hidden;
    
}


img {
    width: 100%;
    height: 314px;
}
